
/*
	Andrew Magill's Portfolio CSS document
	Author: Andrew Magill
*/

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	color: #bd6054;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	min-height: 100%;
	margin: 0;
	text-align: center;
}

#canvas_container {
	position: fixed;
}
.wrapper {
	position: absolute;
	width: 100%;
	margin: 0 auto;

	text-align: left;

	left: 0;
	right: 0;
}

h1, h2 , h3 {
	font-weight: normal;
	margin: 0;
}
strong {
	font-family: 'Roboto Slab', serif;
}

.welcome_text {
	width: 50%; 
	float: left; 
	margin: 6vw 0 0 6vw;
	padding: 2vw 3vw; 

	color: #bd6054;
	font-size: 1.25vw;
	background-color: rgba(255, 250, 245, 0.75); 
	border: 1.4vw solid #bd6054;
}
.profile {
	width: 25%; 
	float: right; 
	margin: 6vw 6vw 2vw 0; 
	border: 2vw solid #ff915b; 
	padding: 1.5vw; 
	background-color: rgba(255, 250, 245, 0.5)
}
.profile img {
	width: 100%;

	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
/*.profile:hover img {
  -moz-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}*/

.links {
	float: left;
	margin: 1vw 0 0 6vw;

	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 1.5vw;
}
.links a {
	float: left; 
	display: block; 

	background-color: rgba(255, 250, 245, 0.8); 
	color:#E8495C; 
	border: 1vw solid #E8495C; 
	padding: 0.5vw 2vw 0.5vw 2vw; 
	margin-right: 1vw;
	text-decoration: none;
	text-transform: lowercase;
}
a {
	color: #c9367f;
}
a:hover {
	opacity: 0.7;
}

.links a.tab {
	background-color: #E8495C; 
	color: #fffaf5;
	padding: 0.5vw 2vw 1.5vw 2vw; 
	float: left; 
	margin-right: 1vw;
}
.top_links a {
	margin-bottom: 1vw;
}

.fragment_container{
	float: left;
	width: 87vw;  
	margin: 0 0 6vw 6vw; 

}
.fragment_container section{
	display: none;
}
.fragment_container #email{
	float: left;
	width: 100%;
	background-color: #E8495C;
	color: #fffaf5;
	padding: 4vw 0;
}
.fragment_container #projects{
	border: 1vw solid #E8495C;
	background-color: rgba(255, 250, 245, 0.70); 
}
.fragment_container #resume{
	background-color: #9ea2a6;
	border: 1vw solid #E8495C;
}
#resume object{
	width: 100%;
	height: 90vh;
	max-height: 3300px;
}
#projects {
	float: left;
	width: 100%;
}
#projects h3{
	display: none;
}
.thumbnail {
	float: left;
	width: 12vw;
	margin-right: 2vw;
	border: 1px solid white;
}
.portfolio {
	float: left;
	width: 100%;
}
.portfolio_item {
	clear: both;
	float: left;
	border-bottom: 1px solid #E8495C;
	width: 100%;
}
.portfolio_item a {
	text-decoration: none;
	display: block;
	float: left;
	width: 100%;
	padding: 2vw;
	font-size: 1.4vw;
}
.portfolio_item a:hover .portfolio_title {
	text-decoration: underline;
}
.portfolio_item a:hover {
	background-color: #fff;
}
.selected ,
.selected a:hover  {
	background-color: #E8495C;
}
.selected .portfolio_title ,
.selected .portfolio_desc  ,
.selected .portfolio_tech {
	color: #fff;
}
.portfolio_details {
	float: left;
	width: 100%;
}
.portfolio_title {
	color: #E8495C;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}
.portfolio_tech {
	float: right;
}
.portfolio_desc {
	color:#bd6054;
}
.portfolio_image img {
	width: 100%;
}
/* Contact form */
#email {
	text-align: center;
	clear:both;
	padding-top: 20px;
}
.email_inner {
	width: 70%;
	margin: 0 auto;
	text-align: left;
}
#email #contact_form {
	float: right;
	width: 25vw;
}
#email .email_intro {
	float: left;
	margin-bottom: 5px;
	width: 40%;
}
.email_intro strong {

	font-family: 'Roboto Slab', serif;
	font-weight: normal;
	font-size: 1.6vw;
}
.email_intro p {

	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 1.4vw;
}
#email input , 
#email textarea {
	background: rgba(256, 256, 256, .2);
	border: 4px solid rgb(256, 256, 245);
	color: #ffffff;
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2vw;
	margin: 5px 0;
	outline: none;
	padding: 8px 10px;
	width: 100%;

	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
	box-sizing:content-box;
}
#email input , 
#email textarea {
	background: #ef7381;
	border: 4px solid #fffaf5;
	color: #ffffff;
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2vw;
	margin: 5px 0;
	outline: none;
	padding: 8px 10px;
	width: 100%;

	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box; 
	box-sizing:content-box;
}

#email input::-webkit-input-placeholder , 
#email textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
#email input:-ms-input-placeholder , 
#email textarea :-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
#email input:-moz-input-placeholder , 
#email textarea :-moz-placeholder { /* Firefox  */
  color: pink;
}

#email input:focus ,
#email textarea:focus {
	border: 4px solid #66333;
}
#email textarea {
	resize: none;
}
#email .send {
	background-color: transparent;
	border: 4px solid rgb(256, 256, 245);
	color: rgb(256, 256, 245);
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding: 6px 10px;
	font-weight: normal;
	cursor: pointer;
	transition: .4s;
}
#email .send:hover {
	background-color: rgba(0, 0, 0, .2);
	transition: .4s;
}
#email .form_success {
	display: none;
	margin-bottom: 160px;
}

::-webkit-input-placeholder {  
   color: #7F7F89;  
}
:-moz-placeholder {  
   color: #7F7F89;  
}
::-moz-placeholder {  
   color: #7F7F89;  
}
:-ms-input-placeholder {  
   color: #7F7F89;  
}
::selection {
  background-color: #597589; 
  color: #FFF;
}
::-moz-selection {
  background-color: #597589; 
  color: #FFF;
}

/* Profile picture animation */

.animated {
	-webkit-animation-fill-mode: both;
	  -moz-animation-fill-mode: both;
	  -ms-animation-fill-mode: both;
	  -o-animation-fill-mode: both;
	  animation-fill-mode: both;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-ms-animation-duration: 1.5s;
	  -o-animation-duration: 1.5s;
	  animation-duration: 1.5s;
}

@-webkit-keyframes shake {
	  0%, 100% {-webkit-transform: translate(0, 0);}
	  10%, 50%, 90% {-webkit-transform: translate(-10px,-10px);}
	  20%, 60% {-webkit-transform: translate(10px),-10px);}
	  30%, 70% {-webkit-transform: translate(10px),10px);}
	  40%, 80% {-webkit-transform: translate(-10px),10px);}
}

@-moz-keyframes shake {
	0%, 100% {-moz-transform: translate(0, 0);}
	  10%, 50%, 85% {-moz-transform: translate(-10px),-10px);}
	  20%, 60%, 90% {-moz-transform: translate(10px,-10px);}
	  30%, 70%, 95% {-moz-transform: translate(10px,10px);}
	  40%, 75% {-moz-transform: translate(-10px,10px);}
}

@-o-keyframes shake {
	  0%, 100% {-o-transform: translate(0, 0);}
	  10%, 50%, 90% {-o-transform: translate(-10px,-10px);}
	  20%, 60% {-o-transform: translate(10px,-10px);}
	  30%, 70% {-o-transform: translate(10px,10px);}
	  40%, 80% {-o-transform: translate(-10px,10px);}
}

@keyframes shake {
	  0%, 100% {transform: translate(0, 0) scale(1, 1);}
	  10%, 35%, 60%, 80%{transform: translate(-10px),-10px) scale(0.9, 1);}
	  15%, 40%, 64%, 84%{transform: translate(0px,-10px) scale(1, 0.9);}
	  20%, 45%, 68%, 88%{transform: translate(10px,0px) scale(1.1, 1);}
	  25%, 50%, 72%, 92%{transform: translate(-10px,10px) scale(0.9, 1);}
	  30%, 55%, 76%, 96%{transform: translate(10px,-10px) scale(1.1, 0.9);}
}

.shake {
	  -webkit-animation-name: shake;
	  -moz-animation-name: shake;
	  -o-animation-name: shake;
	  animation-name: shake;
}

/* Hi-Res Rendering  ####################################################### */

@media only screen and (min-width: 1750px) {

}

/* Mobile Rendering  ####################################################### */

@media only screen and (max-width: 768px) {
	.wrapper {

	}
	.welcome_text { 
		width: 88vw;
		max-width: 88%;
		margin: 5vw 0 0 5vw;
		font-size: 2.2vw;
		border: 2vw solid #bd6054;
	}
	.links {
		margin: 14vw 0 0 5vw;
		font-size: 3vw;
	}
	.profile {
		margin-top: 2vw;
	}
	.fragment_container {
		margin: 0 0 5vw 5vw;
	}
	.portfolio_item a {
		font-size: 2.5vw;
	}
	.thumbnail {
		width: 25vw;
	}
	#email .email_intro {
		width: 100%;
	}
	.email_intro strong {
		font-size: 4vw;
	}
	.email_intro p {
		font-size: 3vw;
	}
	#email #contact_form {
		float: none; 
		width: 90%;
	}
	#email input, #email textarea {
	font-size: 3vw;
	}
}
